@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/* 
// <weight>: Use a value from 200 to 800
// <uniquifier>: Use a unique and descriptive class name

.assistant-<uniquifier> {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/

/* 
// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.quicksand-<uniquifier> {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/

:root {
/* Farver */
    --darkGray: hsl(0, 0%, 13%);
    --iconGreen: hsl(165, 94%, 13%);
    --iconYellow: hsl(46, 96%, 55%);
    --buttonLightRed: hsl(317, 29%, 37%);
    --buttonDarkRed: hsl(347, 37%, 25%);
    --likeLightBlue: hsl(216, 81%, 71%);
    --likeDarkBlue: hsl(216, 81%, 60%);
    --cream: hsl(18, 35%, 78%);

    --standard-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
    --hover-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.25);
} 

/* Landing page */
#landingHeader  {
    background-image: url(../Img/landingPageHeroPicture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    height: 640px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding: 16px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Assistant;
    font-size: 20px;
    margin-left: 50px;
    text-shadow: var(--standard-shadow);
}

nav a:hover {
    color: white;
    text-decoration: underline;

    text-shadow: var(--hover-shadow);
}

.button {
    background: var(--buttonLightRed);
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--standard-shadow);
}

.button:hover {
    background: var(--buttonDarkRed);
    box-shadow: var(--hover-shadow);
    text-decoration: none;
}