@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    font-family: Assistant;
    line-height: 150%;
}

body{
    margin: 0;
}

/* 
// <weight>: Use a value from 200 to 800
// <uniquifier>: Use a unique and descriptive class name

.assistant-<uniquifier> {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/

/* 
// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.quicksand-<uniquifier> {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/

:root {
/* Farver */
    --darkGray: hsl(0, 0%, 13%);
    --iconGreen: hsl(165, 94%, 13%);
    --iconYellow: hsl(46, 96%, 55%);
    --buttonLightRed: hsl(317, 29%, 37%);
    --buttonDarkRed: hsl(347, 37%, 25%);
    --likeLightBlue: hsl(216, 81%, 71%);
    --likeDarkBlue: hsl(216, 81%, 60%);
    --cream: hsl(18, 35%, 78%);

    --standard-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
    --hover-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.25);
} 

/* Landing page */
#landingHeader  {
    background-image: url(../Img/landingPageHeroPicture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#authorHeader {
    background-image: url(../Img/rickSteinRecipes/pastaWithAlmondBasil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: x y;
}

header {
    height: 640px;
}

main {
    margin-inline: 20px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

nav a {
    color: white;
    font-size: 20px;
    margin-left: 50px;
    text-shadow: var(--standard-shadow);
}

nav a:hover {
    color: white;
    text-decoration: underline;

    text-shadow: var(--hover-shadow);
}

.button {
    background: var(--buttonLightRed);
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--standard-shadow);
    color: white;
}

.button:hover {
    background: var(--buttonDarkRed);
    box-shadow: var(--hover-shadow);
    text-decoration: none;
}

h1 {
    font-family: Quicksand;
    font-size: 40px;
    margin: 0;
}

h2 {
    font-family: Quicksand;
    font-size: 32px;
    margin: 0;
}

h3 {
    font-family: Quicksand;
    font-size: 24px;
    margin: 0;
}

h4 {
    font-family: Quicksand;
    font-size: 20px;
    margin: 0;
}

p {
    font-size: 20px;
    margin: 0;
}  

.introduction {
    display: grid;
    max-width: 75ch;
    justify-self: center;
}

.introduction .button {
    justify-self:center;
}

/* Generelt card */
.card {
    box-shadow: var(--standard-shadow);
    border-radius: 4px;
}

.card:hover {
    box-shadow: var(--hover-shadow);
}

.cardInfo {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}
.cardInfo div {
    display: flex;
    align-items: center;
    gap: 5px;
}


/* Food stories */
.foodStories {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;
}

.foodStory {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    height: 448px;
}

.foodStory img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    border-radius: 4px;
}

.foodStoryInfo {
    margin-left: 32px;
    margin-right: 8px;
}

.foodStory .iconImg {
    height: 24px;
    width: auto;
}

.foodStory .profilePicture {
    max-width: 24px;
    max-height: 24px;
    border-radius: 50%;          
    overflow: hidden;
    display: inline-block;
}

.profilePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}
































































/* Recipe page */
#recipeHeader  {
    background-image: url(../Img/curriedCarrotSoup/curriedCarrotSoup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#recipeTop{
    display: flex;
    justify-content: space-between;
    margin-bottom:13rem;
}

#recipeNameAndIcon {
    display: flex;
    padding-top: 3rem;
    
}

#recipeNameAndIcon img {
    width: 31px;
    height: 40px;
    margin: 16px;
}

#recipeRatingAndReview {
    display: flex;
}

#recipeRatingAndReview img{
    padding-left: 8px;
}

#recipeReview {
    padding-left: 8rem;
}

#likesAndShares {
    display: flex;
}

#recipeLike {
    padding-inline: .5rem;
}


#recipeShare {
    padding-left: 10rem;
    padding-right: .5rem;
}

#nameAndPFP {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#MichaelCaines{
    width: 126px;
    height: 126px;
    object-fit: cover;
    border-radius: 50%;
}

/* #metaData {
    display: flex;
    justify-content: space-around;

    
}

#metaData div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 96px;
}

#recipeClock{
    height: 96px;
    width: 96px;
}

#recipeUtensils{
    width: 39px;
    height: 96px;
}



#recipeBox{
    background-color: var(--cream);
    width: 1242px;
} */




#recipeMethod{
    display: flex;
   
}

hr{
    width: 2px;
    background-color: var(--darkGray);
    border-width: 0;
}








#recipeNameAndLikes {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#TAAThumbsUp {
    margin-left: 3rem;
}







/* Recipe card generel styling */

.recipeCardSection {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}
.recipeCard{
    box-shadow: var(--standard-shadow);
    display: inline-block;
    max-width: 446px;
    border-radius: 4px;
}


#recipeImage{
    width: 446px;
    height: 448px;
    object-fit: cover;
    border-radius: 4px;
}

#recipeAuthorImg {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 4px;
}

#recipeNameAndAuthor {
    display: flex;
    justify-content: space-between;
}

#recipeTime {
    display: flex;
}

#recipeTime p {
    margin-left: .5rem;
}

#recipeServing {
    display: flex;
}

#recipeServing p {
    margin-left: .5rem;
}

#recipeMetadata {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 1rem;
}







/* Footer */
footer {
    color: white;
    background-color: var(--darkGray);
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    text-decoration: underline;
    padding-inline: 48px;
}

/* Accordion */
.accordionSection {
    display: flex;
    gap: 32px;
}

.accordionButton {
  background: var(--likeLightBlue);
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--standard-shadow);
    color: white;
    position: relative;
}

.accordionIndhold {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-in-out;
  max-width: 100%;
  background: var(--likeLightBlue);
  position: absolute;
  display: flex;
}

.accordion.accordionOpen .accordionIndhold  {
  max-height: 100%;
}

.recommendendAuthors {
    background: var(--likeDarkBlue);
    margin: 48px 12px;
    padding: 16px 32px;
    display: grid;
    justify-items: center;
}

.recommendendAuthors .profilePicture {
    width: 287px;
  height: 287px;
  border-radius: 50%;
  overflow: hidden;
}

.recommendendAuthors .profilePicture img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.likeButton {
    background: var(--likeLightBlue);
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--standard-shadow);
    color: white;
}

.likeButton:hover {
    background: var(--likeDarkBlue);
    box-shadow: var(--hover-shadow);
    text-decoration: none;
}
